<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <meta name="author" content="Grupa 2">
    <meta name="keywords" content="waluty, portfel, wymiana walut">
    <meta name="description" content="Strona na której przejrzysz bierzące kursy wymiany walut">
    <title>Twój portfel</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>

<body>
    <style>
        .currency-list {
            list-style-type: none;
            padding: 0;
            max-width: 500px;
        }
        
        .currency-list-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1rem;
            padding: 0.5rem 1rem;
            border-bottom: 1px solid #ddd;
            width: 500px;
        }
        
        .currency-list-item:first-child {
            font-size: 1.2rem;
            font-weight: bold;
        }
        
        .currency-buttons {
            display: flex;
            align-items: center;
        }
        
        .currency-button {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
    </style>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-danger sticky-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Strona Główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">kontakt</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="tel:123-456-7890">nr 123-456-789</a>
                            <a class="dropdown-item" href="mailto:Kontakt@waluty.pl">Kontakt@waluty.pl</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Adres</a>
                        </div>
                    </li>
                </ul>
                <strong class="form-inline my-2 my-lg-0">Waluty.pl</strong>
            </div>
        </nav>
        <div class="container mt-4">
            <div class="text-center">
                <ul class="currency-list d-inline-block">
                    <li class="currency-list-item">
                        <span>Stan Konta: <span id="global-balance"><%-Math.round(JSON.parse(cookies)['balance']*100)/100%> </span>zł</span>
                    </li>
                    <%
                        for (const currency of Object.keys(data)) {
                            const currencyName = data[currency].name;
                            const currencyCode = data[currency].code;
                            const currencyRate = data[currency].lastDays[data[currency].lastDays.length - 1];
                    %>
                        <li class="currency-list-item" id="<%=currencyCode%>">
                            <span><%=currencyName%> (<%=currencyCode%>): <%=currencyRate%> Twoje środki: <span id="<%=currencyCode%>-balance"><%-Math.round(JSON.parse(cookies)[currencyCode]*currencyRate*100)/100%></span></span>
                            <div class="currency-buttons">
                                <button class="add-money currency-button btn btn-success">+</button>
                                <button class="remove-money currency-button btn btn-danger">-</button>
                            </div>
                        </li>
                        <% } %>

                </ul>
            </div>
        </div>
        <footer class="text-center fixed-bottom py-3">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>Copyright © Waluty.pl. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
    <script>
        function setCookie(cname, cvalue, exdays) {
            const d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            let expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        let cookies = JSON.parse('<%-(cookies)%>')
        let data = JSON.parse('<%-JSON.stringify(data)%>')

        const addMoney = document.querySelectorAll('.add-money')
        const removeMoney = document.querySelectorAll('.remove-money')

        addMoney.forEach((element) => {
            element.addEventListener('click', (event) => {
                const currency = (((event.target).parentElement).parentElement).id
                const currencyRate = data[currency].lastDays[data[currency].lastDays.length - 1]
                if (getCookie('balance') >= currencyRate) {
                    console.log('zakupiono!')
                    setCookie('balance', parseFloat(getCookie('balance')) - parseFloat(currencyRate), 8)
                    setCookie(currency, parseInt(getCookie(currency)) + 1, 8)
                    document.getElementById(`${currency}-balance`).innerText = Math.round(getCookie(currency) * currencyRate * 100) / 100
                    document.getElementById('global-balance').innerText = Math.round(getCookie('balance') * 100) / 100
                } else {
                    console.log('nie stać cie!')
                }
            })
        })

        removeMoney.forEach((element) => {
            element.addEventListener('click', (event) => {
                const currency = (((event.target).parentElement).parentElement).id
                const currencyRate = data[currency].lastDays[data[currency].lastDays.length - 1]

                if (getCookie(currency) > 0) {
                    console.log('spoko ziom mozesz sprzedac')

                    setCookie('balance', parseFloat(getCookie('balance')) + parseFloat(currencyRate), 8)
                    setCookie(currency, parseInt(getCookie(currency)) - 1, 8)

                    document.getElementById(`${currency}-balance`).innerText = Math.round(getCookie(currency) * currencyRate * 100) / 100
                    document.getElementById('global-balance').innerText = Math.round(getCookie('balance') * 100) / 100
                    console.log(`${currency} masz ${getCookie(currency)} z kursem ${currencyRate} ziomek i ${getCookie('balance')} na koncie`)
                } else {
                    console.log('najpierw kup potem sprzedawaj')
                }
            })
        })
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

</html>